/* all elements */

* {
  background: #FFF;
  /*color: #4736F6;*/
}

.container {
  /* spacing */
  max-width: 940px;
  margin: 0 auto;
  /* flexbox */
  display: flex;
  flex-direction: column;
}

.projects {
  padding: .2vw;
  font-size: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.projects div {
  -webkit-box-flex: auto;
  /* ios */
  -ms-flex: auto;
  /* windows */
  flex: auto;
  /* other */
  width: 250px;
  margin: .5vw;
}

.projects div img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgb(100, 100, 100);
}

.myInfo {
  margin: 5px;
}

.myName {
  font-family: Roboto, sans-serif;
  text-align: right;
  line-height: 10px;
  color: #555;
}

.myTitle {
  font-family: Roboto, sans-serif;
  text-align: right;
  font-size: 24px;
  line-height: 10px;
  color: #777;
}

.mainImage {
  margin: 5px;
}

.banner {
  width: 940px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgb(100, 100, 100);
  line-height: 50px;
}

.logo {
  width: 125px;
  float: left;
}
